*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a{
    position: relative;
    font-size: 16px;
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
}

.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    backround: #fff;
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s ease;
}

.navbar a:hover:after{
    transform: translateY(0px);
    opacity: 1;
}

.search-bar{
    width: 250px;
    height: 45px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
}

.search-bar button{
    width: 40px;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url("../img/background2.jpg")no-repeat;
    background-position: center;
    background-size: cover;
}
.flash {
    position: absolute;
    width: 100%;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background: #0b072c;
    opacity: 0.8;
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.form-box-login {
    position: relative;
    width: 450px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box-register {
    position: relative;
    width: 450px;
    height: 590px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 30px;
    color: aliceblue;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 380px;
    border-bottom: 2px solid aliceblue;
}

.textbox {
    position: relative;
    margin: 30px 0;
    width: 380px;
}

.radiobox {
    position: relative;
    top: 5px;
    margin: 5px 0;
    width: 380px;
    color: aliceblue;
}

.textbox {
    position: relative;
    margin: -5px 0;
    width: 380px;
}

.inputbox label {
    position: absolute;
    top: 20%;
    left: 5px;
    transform: translateY(-50%);
    color: aliceblue;
    font-size: 1em;
    pointer-events: none;
    transition: .4s;
}

.textbox label {
    position: relative;
    left: 5px;
    transform: translateY(-50%);
    color: aliceblue;
    font-size: 1em;
    pointer-events: none;
    transition: .4s;
}

.textbox textarea {
    position: relative;
    width: 100%;
    height: 150px;
    resize: none;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 35px 0 5px;
    color: aliceblue;
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: aliceblue;
    font-size: 1.2em;
    top: 55px;
}

.forget {
    margin: -15px 0 15px;
    font-size: .9em;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.forget label input{
    margin-right: 3px;
}

.forget label a {
    color: aliceblue;
    text-decoration: none;
}

.forget label a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: aliceblue;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: .9em;
    color: aliceblue;
    text-align: center;
    margin: 25px 0 10px;
}

.register p{
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}