body {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    background: url("../img/background2.jpg")no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box-login {
    position: relative;
    width: 45%;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box-register {
    position: relative;
    width: 45%;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 30px;
    color: aliceblue;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid aliceblue;
}

.textbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
}

.radiobox {
    position: relative;
    top: 5px;
    margin: 5px 0;
    width: 310px;
    color: aliceblue;
}

.textbox {
    position: relative;
    margin: -5px 0;
    width: 310px;
}

.inputbox label {
    position: absolute;
    top: 20%;
    left: 5px;
    transform: translateY(-50%);
    color: aliceblue;
    font-size: 1em;
    pointer-events: none;
    transition: .4s;
}

.textbox label {
    position: relative;
    left: 5px;
    transform: translateY(-50%);
    color: aliceblue;
    font-size: 1em;
    pointer-events: none;
    transition: .4s;
}

.textbox textarea {
    position: relative;
    width: 100%;
    height: 150px;
    resize: none;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 35px 0 5px;
    color: aliceblue;
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: aliceblue;
    font-size: 1.2em;
    top: 55px;
}

.forget {
    margin: -15px 0 15px;
    font-size: .9em;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.forget label input{
    margin-right: 3px;
}

.forget label a {
    color: aliceblue;
    text-decoration: none;
}

.forget label a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: aliceblue;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: .9em;
    color: aliceblue;
    text-align: center;
    margin: 25px 0 10px;
}

.register p{
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}