<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <header class="header">
        <a href="/"><img class="logo" src="../static/img/menu.png" alt=""/></a>
        <nav class="navbar">
            <a href="create_test">Создать тест</a>
            <a href="/">Найти тест</a>
            <a href="/">О нас</a>
        </nav>
        <form action="/" class="search-bar">
            <input type="text" placeholder="Найти по ключу">
            <button><i class="bx bx-search"></i></button>
        </form>
        <a href="/"><img class="profile" src="../static/img/profile-icon.png" alt=""/></a>
    </header>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
<div class="flash">
    {{ message }}
</div>
      {% endfor %}
   {% endif %}
{% endwith %}
{% block body_content %}
{% endblock %}
</body>
</html>