<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
<audio loop autoplay id="audio">
  <source src="static/audio/bg_music3.mp3"/>
</audio>

{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
<div class="flash">
    {{ message }}
</div>
      {% endfor %}
   {% endif %}
{% endwith %}

{% block body_content %}

{% endblock %}
</body>
</html>