<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="/"><img src="../static/img/menu.png" width=100 height=100 alt=""/></a>
        </div>
        <nav class="navbar">
            <a href="create_test">Создать тест</a>
        </nav>
        <nav class="navbar">
            <a href="/">Найти тест</a>
        </nav>
        <form action="/" class="search-bar">
            <input type="text" placeholder="Найти по ключу">
            <button><i class="bx bx-search"></i></button>
        </form>
        <div class="profile-icon">
            <a href="/"><img src="../static/img/profile-icon.png" width=100 height=100 alt=""/></a>
        </div>
    </header>
<audio loop autoplay id="audio">
  <source src="static/audio/bg_music3.mp3"/>
</audio>

{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
<div class="flash">
    {{ message }}
</div>
      {% endfor %}
   {% endif %}
{% endwith %}
{% block body_content %}
{% endblock %}
</body>
</html>