{% extends 're_css.html' %}

{% block title %}
Hello from community
{% endblock %}

{% block body_content %}
<section>
    <div class="form-box-create-test">
        <div class="form-value">
            <form action="" method="POST">
                <h2>Создать тест</h2>
                <div class="inputbox">
                    <input type="text" name="test_name" required>
                    <label>Название</label>
                </div>
                <div class="textbox">
                    <label>Описание</label>
                    <textarea name="description" cols="40" rows="3"></textarea>
                </div>
                <div class="radiobox">
                    <label>Тип теста<br></label>
                    <input type="radio" id="personal" name="type" value="personal" checked>
                    <span class="name">Тест личности</span>
                </div>
                <div class="radiobox">
                    <input type="radio" id="scored" name="type" value="scored">
                    <span class="name">Тест знаний</span>
                </div>
                <button>Создать тест</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}