{% extends 'base.html' %}

{% block title %}
Hello from community
{% endblock %}

{% block body_content %}
<section>
    <div class="form-box-login">
        <div class="form-value">
            <form action="" method="POST">
                <h2>Зайти в аккаунт</h2>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" name="email" required>
                    <label>Электронная почта</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="password" required>
                    <label>Пароль</label>
                </div>
                <div class="forget">
                    <label><input type="checkbox" name="remember" >Запомни меня</label>
                </div>
                <div class="forget">
                    <a href="#">Забыл(а) пароль</a>
                </div>
                <button>Зайти в аккаунт</button>
                <div class="register">
                    <p>Хотите создать аккаунт? &nbsp;<a href="register">Зарегистрироваться</a></p>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}